.header {
    background-color: #F0F8FF;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C0C0C0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .panel {
    background-color: #1E90FF;
    width: 50px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .panel-2 {
    background-color: white;
    width: 11em;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 50px;
    border-right: 1px solid #C0C0C0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
  }
  
  .logo-button {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  
  border: none;
  cursor: pointer;
  
  background-color: white;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
  }
  
  .logo {
    max-width: 100%;
    max-height: 100px;
  }
  
  .buttons-container {
    margin-left: auto;
  }
  
  .about-button, .contact-button {
    background-color: transparent;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
  }

  .panel-button {
    background-color: white;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

  .panel-button:hover {
    border-radius: 25%;
    background-color: #3335a3;
}

.divider {
    margin: 0 10px;
}

.content {
    margin-left: 0;
}

.color{
    background:  #1E90FF;
    width: 100%;
    height: 300px;
}

.social {display: inline-block;}
.social a {
	display: block;
	width: 48px;
	height: 48px;
	margin: 0 10px 10px 0;
	text-align: center;
	color: #fff;
	border: 1px solid #ccc;
	border-radius: 6px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.4), inset 1px 1px 0px rgba(255,255,255,0.5);
}
.social a:hover {
	border-color: #888;
	opacity: .8;
}
.social svg {
	margin-top: 7px;
	width: 32px;
	height: 32px;
}
.telegram a {background: #249bd7}
.vk a {background: #4a76a8}

.find {
  margin-left: 45em;
  width: 30em;
  height: 10em;
  background-color:  #1E90FF;
  border: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 50px;
  transition-duration: 0.5s;
}