.header {
    background-color: #F0F8FF;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C0C0C0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }

.panel {
    background-color: #1E90FF; 
    width: 50px; 
    height: 100vh; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 6;
}

.panel-2 {
    background-color: white;
    width: 140px; 
    height: 100vh; 
    position: fixed; 
    top: 0; 
    left: 50px; 
    border-right: .5px solid #C0C0C0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.logo {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100px; 
}

.logo-button {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    background-color: white;
}


.buttons-container {
    margin-left: auto;
}
    
.about-button, .contact-button {
    background-color: transparent;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
}
    
.divider {
    margin: 0 10px;
}

.card {
    width: calc(33.33% - 20px);
    min-width: 400px;
    min-height: 510px;
    height: max-content;
    display: inline-block;
    vertical-align: top;
    box-sizing: content-box;
    position: relative;
    margin: 10px;
    background-color: #f5f0f0;
    border-radius: 15% 15% 4% 4%;
}

.product-image {
    width: calc(100% - 4px);
    border:  2px solid;
    border-radius: 15%;
    min-width: calc(100% - 4px);
    min-height: 300px;
    max-height: 300px;
}

.product-details {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: calc(100%-10px);
    height: auto;
    padding-left: 5px;
    
}

.product-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-price {
    font-weight: bold;
    color: #1d73af;
}

.product-info {
    margin-bottom: 5px;
}

.panel {
    background-color: #1E90FF;
    width: 50px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.panel-2 {
    background-color: white;
    width: 11em;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 50px;
    border-right: 1px solid #C0C0C0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    z-index: 5;
}

.logo-button {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;

    border: none;
    cursor: pointer;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
}

.button-container>:first-child{
    opacity: 50%;
}

.panel-button {
    background-color: white;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.panel-button:hover {
    border-radius: 25%;
    background-color: #3335a3;
}

.content {
 margin-left: 220px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
}

.filter {
    margin: 4em 230px;
}

.inactive {
    display: none;    
}
.active {
    display: inline-block;
}
.typesActive {
    display: inline-block;
}
.priceActive {
    display: inline-block;
}
.areaActive {
    display: inline-block;
}
.roomsActive {
    display: inline-block;
}
.priceInactive {
    display: none;
}
.areaInactive {
    display: none;
}
.roomsInactive {
    display: none;
}
.typesInactive {
    display: none;
}

.dropdown {
    width: 200px;
    padding: 10px;
    border: 1px solid #00050a;
    border-radius: 3px;
    color: #333;
    background-color: #5b8fca;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1em;
  }
  
  .dropdown option {
    background-color: #ccc;
    font-weight: bold;
    font-size: medium;
  }

.social {display: inline-block;}
.social a {
	display: block;
	width: 48px;
	height: 48px;
	margin: 0 10px 10px 0;
	text-align: center;
	color: #fff;
	border: 1px solid #ccc;
	border-radius: 6px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.4), inset 1px 1px 0px rgba(255,255,255,0.5);
}
.social a:hover {
	border-color: #888;
	opacity: .8;
}
.social svg {
	margin-top: 7px;
	width: 32px;
	height: 32px;
}
.telegram a {background: #249bd7}
.vk a {background: #4a76a8}

.leftArrow{
    position: absolute;
    top: 140px;
    left: 6%;
    width: 25px;
    height: 25px;
    border-top: 6px solid blanchedalmond !important;
    border-right: 6px solid blanchedalmond !important;
    /* mix-blend-mode: difference; */
    opacity: 85%;
    rotate: -135deg;
    
}
.leftArrow:hover{
    border-top: 8px ridge blanchedalmond !important;
    border-right: 8px ridge blanchedalmond !important;
    mix-blend-mode: difference;
    opacity: 85%;
    rotate: -135deg;
}
.leftArrow:active{
    border-top: 4px ridge blanchedalmond !important;
    border-right: 4px ridge blanchedalmond !important;
    opacity: 100%;
    rotate: -135deg;
}

.rigthArrow{
    position: absolute;
    top: 140px;
    right: 6%;
    width: 25px;
    height: 25px;
    border-top: 6px solid blanchedalmond !important;
    border-right: 6px solid blanchedalmond !important;
    /* mix-blend-mode: difference; */
    opacity: 85%;
    rotate: 45deg;
    
}
.rigthArrow:hover{
    border-top: 8px ridge blanchedalmond !important;
    border-right: 8px ridge blanchedalmond !important;
    mix-blend-mode: difference;
}
.rigthArrow:active{
    border-top: 4px ridge blanchedalmond !important;
    border-right: 4px ridge blanchedalmond !important;
    opacity: 100%;
}