.header {
    background-color:#F0F8FF;
    height: 50px; 
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C0C0C0;
}

.panel {
    background-color: #1E90FF; 
    width: 50px; 
    height: 100vh; 
    position: fixed; 
    top: 0; 
    left: 0; 
}

.panel-2 {
    background-color: white;
    width: 140px; 
    height: 100vh; 
    position: fixed; 
    top: 0; 
    left: 50px; 
    border-right: .5px solid #C0C0C0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.logo {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100px; 
}

.logo-button {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;

    border: none;
    cursor: pointer;

    background-color: white;
}


.buttons-container {
    margin-left: auto;
}
    
.about-button, .contact-button {
    background-color: transparent;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
}
    
.divider {
    margin: 0 10px;
}

.card {
    width: calc(33.33% - 20px); 
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    box-sizing: content-box;
    height: auto;
}

.product-image {
    border: solid;
    width: 32.48em;
    height: 300px;
    float: inline-start;
    margin-left: 0;
}

.product-details {
    padding: 10px;
    background-color: #F5F5F5;
}

.product-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-price {
    font-weight: bold;
    color: #1E90FF;
}

.product-info {
    margin-bottom: 5px;
}

.content {
 margin-left: 200px;
 display: flex;
 flex-wrap: wrap;
}

.filter {
    margin:1.2em 200px;
}

.inactive {
    display: none;    
}
.active {
    display: inline-block;
}
.typesActive {
    display: inline-block;
}
.priceActive {
    display: inline-block;
}
.areaActive {
    display: inline-block;
}
.roomsActive {
    display: inline-block;
}
.priceInactive {
    display: none;
}
.areaInactive {
    display: none;
}
.roomsInactive {
    display: none;
}
.typesInactive {
    display: none;
}

.dropdown {
    width: 200px;
    padding: 10px;
    border: 1px solid #00050a;
    border-radius: 3px;
    color: #333;
    background-color: #5c9ae0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1em;
  }
  
  .dropdown option {
    background-color: #ccc;
    font-weight: bold;
    font-size: medium;
  }
div#firstCard{
    height: 191px;
}
div#secondCard{
    height: 191px;
}

.social {display: inline-block;}
.social a {
	display: block;
	width: 48px;
	height: 48px;
	margin: 0 10px 10px 0;
	text-align: center;
	color: #fff;
	border: 1px solid #ccc;
	border-radius: 6px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.4), inset 1px 1px 0px rgba(255,255,255,0.5);
}
.social a:hover {
	border-color: #888;
	opacity: .8;
}
.social svg {
	margin-top: 7px;
	width: 32px;
	height: 32px;
}
.telegram a {background: #249bd7}
.vk a {background: #4a76a8}

  