@font-face{
  font-family: 'font-button';
  src: url('font-good.otf');
}
@font-face{
  font-family: 'font-review';
  src: url('AnimeAce02.ttf') format('truetype');
}

body{
  background-color: white;
  overflow-x: hidden;
  overflow-y: hidden;
}

.header {
    background-color: #F0F8FF;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C0C0C0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
  }

  .panel {
    background-color: #1E90FF;
    width: 50px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
  }
  
  .panel-2 {
    background-color: white;
    width: 11em;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 50px;
    border-right: 1px solid #C0C0C0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    z-index: 5;
  }
  
  .logo-button {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  
  border: none;
  cursor: pointer;
  
  background-color: white;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
  }

  .button-container>:nth-child(4) {
    opacity: 50%;
  }
  
  .logo {
    max-width: 100%;
    max-height: 100px;
  }
  
  .buttons-container {
    margin-left: auto;
  }
  
  .about-button, .contact-button {
    background-color: transparent;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
  }
  
  .divider {
    margin: 0 10px;
  }
  
  
  .panel-button {
    background-color: white;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .panel-button:hover {
    border-radius: 25%;
    background-color: #3335a3;
  }
  
  .about-button, .contact-button {
    background-color: transparent;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
  }
  
  .divider {
    margin: 0 10px;
  }

.eraseReview{
  width: calc(100vw - 191px);
  height: calc(100vh - 47px);
  position: absolute;
  overflow: hidden;
  top: 47px;
  left: 220px;
}
button#button-create-review{
  position: absolute;
  text-align: center;
  width: 130px;
  height: 90px;
  top: 15px;
  left: 15px;
  z-index: 1000;
  font-family: 'font-button';
  font-size: 20px;
  font-weight: bold;
  border-color: aqua;
  border: dashed;
  border-radius: 1%;
}
button#button-create-review:hover{
  background-color: burlywood;
}
button#button-create-review:active{
  background-color: rgb(93, 156, 175);
  border-color: burlywood;
}

.itemReview{
  position: absolute;
  width: 150px;
  height: 100px;
}

.background{
  opacity: 60%;
  border-radius: 5%;
  image-rendering: crisp-edges;
  z-index: 1;
  overflow: visible;
}

.bin{
  z-index: 2;
  position: absolute;
  top: 75%;
  left: 30%;
  overflow: visible;
}

.review{
  opacity: 100%;
  font-family: 'font-review';
  font-size: 85%;
  line-height: 25px;
  font-weight: 600;
  border: solid;
  border-color: rgb(93, 143, 150);
  position: absolute;
  border-radius: 35%;
  background-color: aliceblue;
  max-width: 300px;
  height: auto;
  box-sizing: content-box;
  padding: 2%;
  text-align: center;
  animation: falling 11s ease;
  animation-fill-mode: forwards;
}
@keyframes falling {
  from{
   
    opacity: 100%;
  }
  20%{ rotate: 2deg;}
  40%{ 
      rotate: -2deg;
      opacity: 100%;
    }
  50%{ 
      opacity: 80%;
  }
  60%{ rotate: 2deg;}
  70%{
    opacity: 20%;
    rotate: 0deg;
  }
  to {
    rotate: 0deg;
    top: 75%;
    left: 34%;
    opacity: 0%;
  } 
}

