body{
    background-color: white;
}

.header {
    background-color: #F0F8FF;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C0C0C0;
}

.panel {
    background-color: #1E90FF;
    width: 50px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.panel-2 {
    background-color: white;
    width: 11em;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 50px;
    border-right: 1px solid #C0C0C0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
}

.logo-panel {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
}

.logo {
    max-width: 100%;
    max-height: 100px;
}

.buttons-container {
    margin-left: auto;
}

.about-button, .contact-button {
    background-color: transparent;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
}

.divider {
    margin: 0 10px;
}

.dream-button:hover {
    background-color: #B00000;
    color: white;
}

.panel-button {
    background-color: white;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.panel-button:hover {
    background-color: #3335a3;
}

.right-section {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    height: 100vh;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}

.left-button {
    background-color:  #1E90FF;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;
    height: 300px;
    width: 600px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 50px;
    transition-duration: 0.5s;
}

.left-button:hover {
    background-color: #F8F4FF;
}

.photo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.photo {
    max-width: 100%;
    max-height: 4000px;
    margin-bottom: 10px;
}

.left-button:nth-child(2) {
    background-color: #F8F4FF;
    color: black;
    border: #C0C0C0 solid 1px;
    transition-duration: 0.5s;
}

.left-button:nth-child(2):hover{
    background-color: #1E90FF;
}

.calc {
    width: 1000px;
    height: 500px;
    margin-left: 300px;
    background-color: #1e90ff;
}

.services{
    margin-left: 50em;
    margin-top: -15em;
}

#multifamilyQuestions,
#singlefamilyQuestions {
  display: none;
}

.hr {
    color: #1E90FF;
}

.service-button {
    display: flex;
    align-items: center;
    background-color: white;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 50px;
    transition-duration: 0.5s;
}

.service-button .button-icon {
    max-width: 20px;
    margin-right: 5px;
}

.service-button:hover {
    background-color: #3335a3;
}


