.header {
    background-color:#F0F8FF;
    height: 50px; 
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C0C0C0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; 
    margin-left: 50px; 
    height: calc(100% - 50px);
}

.image {
    max-height: 100%; 
    max-width: 100%; 
}

.panel {
    background-color: #DAA520; 
    width: 50px; 
    height: 100vh; 
    position: fixed; 
    top: 0; 
    left: 0; 
}

.panel-2 {
    background-color: white;
    width: 140px; 
    height: 100vh; 
    position: fixed; 
    top: 0; 
    left: 50px; 
    border-right: .5px solid #C0C0C0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.logo {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100px; 
}

.dream-button {
    position: absolute;
    bottom: 100px;
    left: 210px;
    background-color: #DC143C;
    border-style: dashed;
    color: white;
    padding: 50px;
    width: 1000px;
    border: none;
    border-radius: 100px;
    font-weight: bold;
    font-size: 30px;
}

.buttons-container {
margin-left: auto;
}

.about-button, .contact-button {
    background-color: transparent;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
}

.divider {
    margin: 0 10px;
}