body{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    background-color: #F0F8FF;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C0C0C0;
}

.panel {
    background-color: #1E90FF;
    width: 50px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.panel-2 {
    background-color: white;
    width: 11em;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 50px;
    border-right: 1px solid #C0C0C0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
}

.logo-button {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;

    border: none;
    cursor: pointer;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
}

.logo {
    max-width: 100%;
    max-height: 100px;
}

.buttons-container {
    margin-left: auto;
}

.about-button, .contact-button {
    background-color: transparent;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
}

.divider {
    margin: 0 10px;
}


.panel-button {
    background-color: white;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.panel-button:hover {
    border-radius: 25%;
    background-color: #3335a3;
}

.right-section {
    margin-top: 2em;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    height: 100vh;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}

.left-button {
    background-color:  #1E90FF;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px 10px;
    height: 300px;
    width: 600px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 50px;
    transition-duration: 0.5s;
}

.left-button:hover {
    background-color: #F8F4FF;
}

.photo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.photo {
    max-width: 100%;
    max-height: 4000px;
    margin-bottom: 10px;
}

.left-button:nth-child(2) {
    background-color: #F8F4FF;
    color: black;
    border: #C0C0C0 solid 1px;
    transition-duration: 0.5s;
}

.left-button:nth-child(2):hover{
    background-color: #1E90FF;
}

.calc {
    width: 1000px;
    height: 500px;
    margin-left: 300px;
    background-color: #1e90ff;
}

.services{
    margin-left: 50em;
    margin-top: -15em;
}

#singlefamilyQuestions {
  display: none;
}

.hr {
    color: #1E90FF;
}

.service-button {
    display: flex;
    align-items: center;
    background-color: white;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 50px;
    transition-duration: 0.5s;
    margin-left: -10em;
}

.service-button .button-icon {
    max-width: 20px;
    margin-right: 5px;
}

.service-button:hover {
    background-color: #3335a3;
}

.service-button2 {
    display: flex;
    align-items: center;
    background-color: white;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 50px;
    transition-duration: 0.5s;
    margin-left: 20em;
    margin-top: -2.2em;
}

.service-button2 .button-icon {
    max-width: 20px;
    margin-right: 5px;
}

.service-button2:hover {
    background-color: #3335a3;
}

.product-image {
    float:left;
    overflow:hidden;
    position:relative;
    width:261px;
    margin-bottom: 25px;
    float:left;
    height:250px;
}

.photo-review{
    margin-left: 15em;
}


  .reviews {
    display: flex;
    align-items: center;
  }
  
  .heading {
    margin-left: 20em;
    margin-right: 10px; 
  }
  
  .all-reviews-button {
    background-color: #1E90FF;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 50px;
    transition-duration: 0.5s;
  }
  
  .all-reviews-button:hover {
    background-color: #F8F4FF;
    color: black;
  }

  * {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
    margin-bottom: 10em;
	height: 350px;
	margin: 100px auto 0;
	position: relative;
	width: 700px;
}

.slider {
	background-color: #ddd;
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-o-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}
 
.wrapper > input {
	display: none;
}

.slides {
	height: inherit;
	position: absolute;
	width: inherit;
}


.wrapper .controls {
	left: 50%;
	margin-left: -98px;
	position: absolute;
}


.wrapper label:after {
	border: 2px solid #ddd;
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}

.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
	background: #ddd;
}


.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
	opacity: 1;
	z-index: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.help{
    margin-left: 20em;
    margin-top: 5em;
}

.to-contacts{
    margin-left: 24em;
    width: 30em;
    height: 10em;
    background-color:  #1E90FF;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 50px;
    transition-duration: 0.5s;
}

.review{
    margin-top: 1em;
    text-align: center;
    font-size: 28px;
}


  
body {
    background-color: #fff;
  }
  
  .calc {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: 0 auto;
    height: 530px;
  }
  
  .calc-panel {
    margin-bottom: 20px;
  }
  
  .title {
    color: #1464a5;
    text-align: center;
  }
  
  .label {
    color: #1464a5;
    font-weight: bold;
  }
  
  .input-field {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    background-color: #1464a5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0e3c66;
  }
  
  .result {
    color: #1464a5;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }
  


  .social {display: inline-block;}
.social a {
	display: block;
	width: 48px;
	height: 48px;
	margin: 0 10px 10px 0;
	text-align: center;
	color: #fff;
	border: 1px solid #ccc;
	border-radius: 6px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.4), inset 1px 1px 0px rgba(255,255,255,0.5);
}
.social a:hover {
	border-color: #888;
	opacity: .8;
}
.social svg {
	margin-top: 7px;
	width: 32px;
	height: 32px;
}
.telegram a {background: #249bd7}
.vk a {background: #4a76a8}

.dialog-overlay {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 9999;
}

.dialog-header {
    background-color: #1464a5;
    color: white;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: flex-end;
}

.close-button {
    color: white;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 16px;
    writing-mode: vertical-lr; 
    text-orientation: upright; 
    margin-left: 5px; 
}

.dialog-content {
    padding: 20px;
    text-align: center;
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-text {
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.name {
    font-weight: bold;
}

.button-accept {
    background-color: #1464a5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    margin-top: 15em;
}