* {
  margin: 0;
  padding: 0;
}

.header {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

h1 {
  font-family: sans-serif;
}

.buttons-container {
    margin-left: auto;
}

.about-button, .contact-button {
    background-color: transparent;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
}

.divider {
    margin: 0 10px;
}

.main-theme {
  width: 100%;
  height: auto;
}